
@font-face {
    font-family: 'open24displayst';
    src: url('../fonts/open24displayst.woff') format('woff'); url('../fonts/open24displayst.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'open24displayst';
    font-size: 16px;
    letter-spacing: 4px;
    background: #000;
    color: #58BEB6;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.channelList div {
    border-bottom: 1px #2B2B2B solid;
    padding: 8px 12px;
    background: #535353;
    cursor: pointer;
}

.player {
    height: 80px;
}
.channelList {
    position: absolute;
    top: 110px;
    left:0;
    right: 0;
    bottom: 0;
    overflow: auto;
}