
@font-face {
    font-family: 'open24displayst';
    src: url('../fonts/open24displayst.woff') format('woff'); url('../fonts/open24displayst.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'open24displayst';
    font-size: 16px;
    letter-spacing: 4px;
    background: #000;
    color: #58BEB6;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
table{
    border-collapse: collapse;
    width: 100%;
}
.channelList th {
    font-weight: normal;
    text-align: center;
}
.channelList th *{
    display: block;
}
.channelList td {
    border-bottom: 1px #2B2B2B solid;
    padding: 8px 12px;
    background: #535353;
}
.channelList span{
    cursor: pointer;
}

.channelList {
    position: absolute;
    top: 110px;
    left:0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.player {
    height: 80px;
}

.star {
}
.star:before{
    content: '☆';
    height: 20px;
}
.star.fav:before{
    content: '★';
}
.filters {
}
.filters span{
    cursor: pointer;
}
.filters span, .filters a {
    background: #555;
    display: block;
    padding: 5px;
    border-bottom: 1px #9B9B9B solid;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.filters a + a {
    border-left: 1px #9B9B9B solid;
}
.fav td{ color: #fff; }