<div id="about">
        <div class="about-page">
          <div>
            <a href="http://codemode.in"><img src="assets/img/code-mode.png" width="150"></a>
          </div>
          <br>
          <div>
            Version 2.0(0.0.3)
          </div>
          <div>
            &copy;{{dt | date:'yyyy'}} codemode.in
          </div>
          <hr>
          <div>
            Tell us what you think<br/>
            Let us know about a bug/problem
          </div>
          <hr>
			<div class="socials">
				<a href="" onclick="window.open('mailto:creators.guru@gmail.com?subject=codemode', '_system', 'location=yes'); return false;" class="fa fa-envelope"></a>
				<a href="" onclick="window.open('https://twitter.com/SeetpalSingh', '_system', 'location=yes'); return false;" class="fa fa-twitter"></a>
				<a href="" onclick="window.open('skype:moveupstairswithus?chat', '_system', 'location=yes'); return false;" class="fa fa-skype"></a>
				<a href="" onclick="window.open('https://plus.google.com/114229378072453174333', '_system', 'location=yes'); return false;" class="fa fa-google-plus"></a>
				<a ng-click="shareme()" class="fa fa-google-plus"></a>
			</div>
			<hr>
			<div>
				This app is built with an idea that GooD thoughts should be shared
			</div>
			<hr>
			<div class="alert alert-danger" role="alert" ng-hide="!offline" >
				Check your internet Connection for playlist
            </div>
        </div>
      </div>