  <button type="button" id="alert_box" class="btn btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role= "dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header"></div>
        <div class="modal-body">
          <div align="center">
            {{msg}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>